
.minuta{
    margin:0cm;
    margin-bottom:.0001pt;
    text-align:justify;
    background:#D9D9D9; 
    border:none;
    padding:0cm;
    font-size: 1.17em;
}
.pre-minuta{
    border:solid windowtext 1.0pt;padding:1.0pt 4.0pt 1.0pt 0cm; background:#D9D9D9;margin-left:0cm;
}
/*Thanks to Jeremy Keith, Dudley Storey, */

@media print {
@page {
margin: 2cm 1cm 3cm;
orphans: 4;
widows: 3;
}

body {
background: transparent !important;
color: #000 !important;
box-shadow: none !important;
text-shadow: none !important;
font-size: 12pt;
line-height: 140%;
color: #000;
padding-top: 0;
padding-bottom: 0;
padding-left: 0;
padding-right: 0;
margin: 2cm 1cm 3cm;
}
h2{
    font-size: 1.5em;
}
p,
li,
pre,
figure,
blockquote {
page-break-inside: avoid;
}
h1,
h2,
h3,
h4,
h5 {
page-break-after: avoid;
}
section {
page-break-before: always;
}
img {
max-width: 100% !important;
}
/*Show urls*/
a {
font-weight: bolder;
text-decoration: none;
}
code {
font-family: "Courier New", Courier, FreeMono, monospace;
}
a[href^="http"]:after {
content: " <" attr(href) "> ";
}
}
/* useful for portfolios */
@media print and (color) {
    .pre-minuta{
        margin-top: 20px;
    }
    #footer{
        display: none;
    }
* {
-webkit-print-color-adjust: exact;
print-color-adjust: exact;
}
}

p{
    text-align: justify;
  text-justify: inter-word;
}