.loader {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #e8e8e8bf;
    z-index: 999998;
}

.load-text{
    position: fixed;
    color: #000;
    width: 300px;
    z-index: 999999;
    left: 50%;
    margin-left: -150px;
    text-align: center;
    top: 80%;
    margin-top: -10px;
    height: 20px;
}
.disable-scroll{
    overflow: hidden;
}